* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
}

.nav {
    width: 100%;
    float: left;
}