* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.wrapper {
    width: 62%;
    margin: auto;
}

.nav {
    width: 100%;
    float: left;
}

.nav .menu-nav > li.active:nth-child(1) {
    background: url("/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}